#game-setup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;
  margin: 2em;
  padding: 1.5rem;
  border: 2px solid black;
  // border-radius: 5px;

  input {
    margin-top: .3rem;
    margin-bottom: .5rem;
  }

  button {
    align-self: center;
    margin-top: .5rem;
    box-shadow: 0.2rem 0.2rem .3rem 1px darken($backgroundColor, 40%);
  }

  button:hover {
    box-shadow: none;
  }
}


#game-builder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 3rem 0;
  // border: 2px solid black;

}

.build-game-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  padding: 1rem;
  background-color: #A0E4CB;
  border: 1px solid $borderColor;
  box-shadow: 0 0 .5rem 1px $borderColor;
}

.game-editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 2px solid black;
  width: 75%;
  margin: 2rem;
}

.edit-game-board {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #0D4C92;
  min-width: 75%;
  min-height: 60vh;
  background-color:#A0E4CB;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 1rem 0 $borderColor;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  margin: 0 .5rem 0 .5rem;
  // border: 2px solid black;
}


#playGameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 3rem 0;
  padding: 1rem;
  width: 75%;
}

.playGameBoard {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid #0D4C92;
  min-width: 75%;
  min-height: 60vh;
  background-color:#A0E4CB;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 1rem 0 $borderColor;

  .player-game {
    pointer-events: none;
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container > * {
  margin: .5rem;
}

#profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  width: 75%;
}

#profileContainer > * {
  margin: 1rem;
}

#savedGameList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 50%;

  h4, h3 {
    margin: 0.4rem;
  }
}

.game-list-choice {
  display: flex;
  justify-content: space-around;
  width: 100%;

  h4:hover {
    cursor: pointer;
    color: blue;
  }

  h3:hover {
    cursor: default;
  }
}

.game-list-name {
  margin-right: auto;
}

.game-list-options {
  display: flex;
  margin-left: auto;
}


#input-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 23%;
  background-color: $backgroundColor;
  min-width: 50%;
  height: 50%;
  padding: 1.5rem;
  border: solid 2px $borderColor;
  // box-shadow: 0 0 0.4rem 0 $backgroundColor;
  box-shadow: 0.1rem 0.1rem 0.5rem 2px darken($borderColor, 10%);
  z-index: 5;

  label {
    font-size: large;
  }
}

.inputDisplay {
  text-align: center;
  // border: 1px solid $borderColor;
  width: 50%;
  margin: 1rem 0 1rem 0;
  padding: 0.5rem;

  input, textarea {
    font-family: 'Arial';
    border-radius: 0;
    margin-bottom: .7rem;
    padding: 0.2rem;
    resize: none;
  }

}

.clue-input-btns {
  display: flex;

  * {
    margin: 0.3rem;
  }
}


#play-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 25%;
  background-color: #59C1BD;
  width: 50%;
  height: 50%;
  border: solid 10px #0D4C92;
  box-shadow: 0 0 3px 3px #0D4C92;
  z-index: 5;
}

#play-modal > button {
  width: 4rem;
  margin: .5rem;
  border: 3px solid #0D4C92;
}

.edit-scores-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 25%;
  background-color: #59C1BD;
  width: 50%;
  height: 50%;
  border: solid 2px #0D4C92;
  box-shadow: 0 0 5px 5px #0D4C92;
  z-index: 5;
}

.edit-modal-player-list {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.edit-modal-player-data {
  display: flex;
  align-items: center;
  justify-content: center;

  * {
    margin: 0.4rem;
  }
}

#welcome-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;

  * {
    margin: 1rem auto 1rem auto;
  }
}

.accounts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto 3rem auto;

  h1 {
    margin: 1rem;
  }

  h3 {
    margin-bottom: 1rem;
  }
}

#welcome-options {
  display: flex;

  * {
    margin: auto 0.5rem auto 0.5rem;
  }

  h2 {
    margin: 0.5rem;
    cursor: pointer;
  }

  h2:hover {
    color: blue;
  }
}

.profile-options {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // padding: 1rem;

  * {
    margin: auto 0.5rem auto 0.5rem;
  }
}

.player-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;

  input {
    margin: 0.1rem auto 0.8rem auto;
  }
}

.player-signin-container {
  display: flex;
  flex-direction: column;
}

.player-list {
  display: flex;
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $borderColor;
  margin: 0.5rem;
  padding: 0.5rem;
  min-width: 7rem;
  box-shadow: 0.1rem 0.1rem 0.1rem 0 $borderColor;

  p {
    margin: 0.1rem;
  }
}


.host-options {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $borderColor;
  padding: 0.3rem;

  * {
    margin: 0.3rem;
  }
}

.judge-response {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
}

.judge-response-btns {
  display: flex;
  flex-direction: column;
}

.host-btns {
  display: flex;
  // flex-direction: column;
  margin-right: 2rem;

  // * {
  //   margin: auto 0.5rem auto 1rem;
  // }
}