.delete-game-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  z-index: 10;
  padding: 1rem;
  background-color: #A0E4CB;
  border: 1px solid $borderColor;
  box-shadow: 0 0 .5rem 1px $borderColor;
  z-index: 10;

  button {
    width: 11rem;
    height: 4rem;
    font-size: larger;
    margin: 0.5rem;
    width: 10rem;

    &:hover {
      color: #EAFDFC;
      background-color: $borderColor;
    }
  }

  button.delete-btn:hover {
    background-color: #FF6464;
  }
}


.build-game-modal, .help-modal, .edit-scores-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  z-index: 10;
  padding: 2rem 1rem 1rem 1rem;
  background-color: $backgroundColor;
  border: 1px solid $borderColor;
  box-shadow: 0 0 .5rem 1px $borderColor;

}

#input-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  align-self: center;
  background-color: $backgroundColor;
  min-width: 50%;
  height: fit-content;
  padding: 1.5rem;
  border: solid 2px $borderColor;
  box-shadow: 0.1rem 0.1rem 0.5rem 2px darken($borderColor, 10%);
  z-index: 5;

  label {
    font-size: large;
  }
}

.inputDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 1rem 0 1rem 0;
  padding: 0.5rem;

  input#input-answer, textarea {
    font-family: 'Arial';
    border-radius: 5px;
    border: 1px solid black;
    margin: .2rem auto .7rem auto;
    padding: 0.3rem;
    resize: none;
  }

  select {
    width: 40%;
    margin: .5rem;
  }
}

.clue-input-btns {
  display: flex;

  * {
    margin: 0.3rem;
  }

  button {
    margin: 0.5rem;
    width: 10rem;
  }

}


#play-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 25%;
  background-color: #59C1BD;
  width: 50%;
  height: 50%;
  border: solid 10px #0D4C92;
  box-shadow: 0 0 3px 3px #0D4C92;
  z-index: 5;
}

#play-modal > button {
  width: 4rem;
  margin: .5rem;
  border: 3px solid #0D4C92;
}

.edit-scores-modal {
  min-width: 40%;
  height: 50%;
  padding: 1.5rem;

  button {
    padding: .5rem 1rem;
  }

  label {
    font-size: large;
  }
}

.edit-modal-player-list {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.edit-modal-player-data {
  display: flex;
  align-items: center;
  justify-content: center;

  * {
    margin: 0.4rem;
  }
}

.help-modal {
  align-items: flex-start;
  font-family: 'Cabin';
   section {
    margin: .5rem;
   }

   h3 {
    margin-bottom: .5rem;
   }

   h1 {
    align-self: center;
    text-decoration: underline;
   }

   button {
    align-self: center;
   }
}

@keyframes expandClue {
  0% {
    opacity: 0;
    // width: 1%;
    // height: 1%;
    // padding: 0;
  }
  100% {
    opacity: 100;
    // width: 100%;
    // height: 100%;
    // padding: 20%;
  }
}

.active-clue-expand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $backgroundColor;
  border: 10px solid #0D4C92;
  animation: expandClue .3s linear;
  padding: 20%;
  box-shadow: 0 0 0.5rem 0 $borderColor;


  * {
    margin: 0.5rem auto 0.5rem auto;
  }

  p {
    font-size: 1.5rem;
  }
}