@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Josefin+Sans&family=Pacifico&display=swap');
@import 'variables.scss';
@import 'containers.scss';
@import 'buttons.scss';

body {
  background-color: #CFF5E7;
  font-family: 'Josefin Sans';
  // border-radius: 5%;
}

* {
  border-radius: 7px;
}


// input:focus {
//   box-shadow: 0 0 5px 5px #0D4C92;
//   border: none;
// }
// .game-builder-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }





#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none !important;
  opacity: 0;
}

#welcome-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#accounts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.account-form > input {
  width: 85%;
  margin-bottom: .8rem;
}

.account-form > button {
  width: 50%;
  margin: .5rem 0 .5rem 0;
}

.category-name {
  max-width: 150px;
  flex-wrap: wrap;
  word-wrap: normal;
}

.nav-bar {
  top: 0;
  text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  font-family: 'Pacifico';
  font-size: 3rem;
  margin: 0;
  padding: 0;
}



#question-display {
  text-align: center;
  border: 5px solid #0D4C92;
  width: 50%;
  margin: 1rem 0 1rem 0;
}

#answer-display {
  text-align: center;
  border: 2px solid #0D4C92;
  width: 50%;
  margin: 1rem 0 1rem 0;
}

.inputDisplay {
  text-align: center;
  border: 5px solid #0D4C92;
  width: 50%;
  margin: 1rem 0 1rem 0;
}

.inputDisplay > input {
  margin-bottom: .7rem;
}



